
.Container{
  height:550px;
  width:80%;
  margin-left: 8%;
  margin-right: 15%;
  margin-top: 15px;
  background-color: black;
  justify-content: center;
  padding-left:20px;
  
}
.body{
  background-color: black;
}
.Table{
  background-color: black;
  margin-top:10px;
}
table,tr,th{
  border: none;
  padding:5px;
  text-align: center;
}
th{
  padding-left: 10px;
  padding-right: 10px;
}

.notification{
  position: absolute;
  top:40px;
  right:10px;
  z-index: 1;
  background-color: red;
  border-radius: 10px;
  width:150px;
  text-align: center;
  justify-content: flex-start;
  color:white;
}